/*css variables*/

html {
  /*  Colors*/
  --primary-color: #1E88E5;
  --secondary-color: #7e57c2;
  --dark-color: #24292e;
  --background-color: #e3f2fd;
  --green-color: #44FFD2;
  --pink-color: #FF8484;
  --border-color-light: rgba(0, 0, 0, 0.12);
  --tile-box-shadow: 1px 2px 8px -2px #7f7f7f;
  --delete-red: #fd5858;
  --heart-icon-filled: #ff6d75;
  --heart-icon-hover: #ff3d47;
  --background-grey: #eff0f0;
  --desktop-tile-padding: 15px;
  --mobile-tile-padding: 10px;
  --tile-padding: 10px;
/*    sizes */
  --desktop-page-margin: 20px;
  --mobile-page-margin: 10px;
  --header-height: 60px;
  --footer-height: 60px;
  --small-box-shadow: 1px 1px 4px -1px #858585;

  --max-content-width: 1200px;
  --mobile-breakpoint: 1000px;
}

body {
  margin: 0;
  background: var(--background-color);
}

a {
  color: var(--primary-color);
}

[data-amplify-authenticator] {
  --amplify-colors-background-primary:red;
  --amplify-colors-background-secondary: yellow;
  --amplify-components-tabs-item-active-color: var(--secondary-color);
  --amplify-components-tabs-item-focus-color: var(--secondary-color);
  --amplify-components-tabs-item-hover-color: var(--secondary-color);
  --amplify-components-button-primary-hover-background-color: var(--secondary-color);
  --amplify-components-button-primary-background-color: var(--secondary-color);
  --amplify-components-tabs-item-color: var(--dark-color);
  --amplify-components-tabs-item-active-border-color: var(--secondary-color);
  --amplify-components-button-link-hover-color: var(--primary-color);
  --amplify-components-button-link-hover-background-color: var(--background-color);
  --amplify-components-button-link-color: var(--primary-color);
}

[data-amplify-authenticator] div[data-amplify-container] {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-color)
}

[data-amplify-authenticator] [data-amplify-router] {
  width: var(--amplify-components-authenticator-container-width-max);
  max-width: 95%;
  margin: 100px auto;
}

div[data-amplify-authenticator] {
  display: block;
}
